<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<h2>Home</h2>
<hr>
<h3>Movies</h3>

<div id="root"></div>
<script type="text/babel">

  const App = () => {

    // State?
    // Movie state?
    // selected item?

    // fetch your movies -> useEffect()

    // handle functions (CRUD) Create, update delete
    return (
        <h1>This will render at the top of main content</h1>
        {
          // Render main content here
          // ItemsList ... parameters, setSelectedMovie, moviestate
          // DetailForm ...parameters, selectedMovie, onDelete, onUpdate, onSave, onClose
        }
      </>
    )
  }

    // This will be replaced with the useEffect + movie state
    const items = <%- items %>;
    console.log(items)

    const ItemsList = (props) => {
      const items = props.items
      const listItems = items.map((item) =>
        <li key={item._id} onClick={props.clickHandler}>
          {item.title}
        </li>
      );
      return (
        <ul>{listItems}</ul>
      );
    }

    const DetailSideBar = () => {
      // props from App
      
      return (
        <p>movie detail form component<p/>
      )
    }
    
    const showDetail = (event) => {
      // should have logic to set/show the selected movie
        console.log(event.target)
        console.log(event.target.innerText)
        console.log(event.target.id)
        window.location.href = "/details/" + event.target.innerText;
    }

    // DetailForm component
    // form to handle field changes
    // https://www.freecodecamp.org/news/how-to-build-forms-in-react/
    // Refer to rubric for form requirements

    // When ready replace ItemsList with App
    ReactDOM.render(<ItemsList items={items} clickHandler={showDetail} />, document.getElementById('root'));
</script>
</body>
</html>