<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<h2>Home</h2>
<hr>
<h3>Movies</h3>

<div id="root"></div>
<script type="text/babel">
  
  const items = <%- items %>;

  const App = () => {
    // State?
    // Movie state?
    // selected item?

    // fetch your movies -> useEffect()

    // handle functions (CRUD) Create, update delete
    const [movies, setMovies] = React.useState(items);
    const [selectedItem, setSelectedItem] = React.useState(null);

    const handleMovieUpdate = (event) => {
      event.preventDefault();
      console.log(event.target)
      const form = event.target;
      const title = form.title.value;
      const director = form.director.value;
      const year = form.year.value;
      const genre = form.genre.value;
      const opinion = form.opinion.value;
      
      const updatedMovies = movies.map((movie) => {
        if (movie._id === id) {
          movie.title = title;
          movie.director = director;
          movie.year = year;
          movie.genre = genre;
          movie.opinion = opinion;
        }
        return movie;
      });
      
      setMovies(updatedMovies);
      setSelectedItem(null);
    }

    const handleItemClick = (event) => {
      const movie = items.find((movie) => movie._id === event.target.id);
    }

    const clearEdit = () => {
      setSelectedItem(null);
    }
    
    return (
      <>
        <div>
          <ItemsList items={movies} selectedItem={selectedItem} setSelected={handleItemClick}/>
          <DetailForm/>
        </div>
      </>
    );
  }


    const ItemsList = (props) => {
      const {items, selectedItem} = props;
      const listItems = items.map((item) =>
        <li key={item._id} onClick={props.setSelected}>
          {item.title}
        </li>
      );
      return (
        <ul>{listItems}</ul>
      );
    }

    const DetailForm = (props) => {
          return (
              <>
                <h1>test</h1>
              </>
            );
          }
    

    // DetailForm component
    // form to handle field changes
    // https://www.freecodecamp.org/news/how-to-build-forms-in-react/
    // Refer to rubric for form requirements

    // When ready replace ItemsList with App
    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>