<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<h2>Home</h2>
<hr>
<h3>Movies</h3>

<div id="root"></div>
<script type="text/babel">
  
  const items = <%- items %>;

  const App = () => {

    // fetch your movies -> useEffect()

    // handle functions (CRUD) Create, update delete
    const [movies, setMovies] = React.useState(items);
    const [selectedItem, setSelectedItem] = React.useState([]);

    const clearEdit = () => {
      setSelectedItem([]);
    }

    const itemClick = (event) => {
      const movie = movies.find((movie) => movie.title == event.target.innerText);
      setSelectedItem(movie);
      console.log(movie)
    }

    const handleMovieUpdate = (event) => {
      let name = event.target.name;
      let value = event.target.value;
      let changedMovie = {...selectedItem};
      changedMovie[name] = value;

      let changedMovies = movies.map(movie => {
        if (movie._id == selectedItem._id) {
          return changedMovie;
        } else {
          return movie;
        }
      })
      setMovies(changedMovies);
      setSelectedItem(changedMovie);
    }
    
    return (
      <>
        <div>
          <ItemsList items={movies} setSelected={itemClick}/>
          <DetailForm clear={clearEdit} selectedItem={selectedItem} changeHandler={handleMovieUpdate}/>
        </div>
      </>
    );
  }

    const ItemsList = (props) => {
      const {items} = props;
      const listItems = items.map((item) =>
        <li key={item._id} onClick={props.setSelected}>
          {item.title}
        </li>
      );
      return (
        <ul>{listItems}</ul>
      );
    }

    const DetailForm = (props) => { 
      const {clear, selectedItem, changeHandler} = props;
          return (
              <>
                <h3>Details:</h3>
                {
                  <form id = "myForm">
                    <input type="text" name="title" placeholder="title" value={selectedItem.title || ''} onChange={changeHandler} /><p/>
                    <input type="text" name="director" placeholder="director" value={selectedItem.director || ''} onChange={changeHandler} /><p/>
                    <input type="text" name="year" placeholder="year" value={selectedItem.year || ''} onChange={changeHandler} /><p/>
                    <input type="text" name="genre" placeholder="genre" value={selectedItem.genre || ''} onChange={changeHandler} /><p/>
                    <input type="text" name="opinion" placeholder="opinion" value={selectedItem.opinion || ''} onChange={changeHandler} /><p/>
                  </form>
                }
                <button type="button" onClick={clear}>Clear</button>
                <button type="button">Save</button>
                <button type="button">Delete</button>
              </>
            );
          }
    
    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>